@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */
:root {
    /* FONT */
    --FONT-FAMILY: "Nunito", sans-serif;
    --FONT-SIZE: 1.5rem;
    --FONT-SIZE-EXTRA-LARGE: 3rem;

    /* COLOUR */
    --BGCOLOUR: #475569;
    --ALTBGCOLOUR: #1E293B;
    --RADIAL-COLOUR: whitesmoke;
    --LIGHTCOLOUR: whitesmoke;
    --DARK-COLOUR: #000;

    /* SQUARE */
    --SQUARE-BACKGROUND-COLOUR: papayawhip;
    --SQUARE-SIZE: max(150px, 20vw);


    /* GENERAL */
    --PADDING: 0.5rem;
    --SHADOWS: 0 6px 5px -5px var(--DARK-COLOUR);
    --BORDERS: 2px solid var(--DARK-COLOUR);
}

@media (prefers-color-scheme: dark){
    :root {
        --BGCOLOUR: #000;
        --ALTBGCOLOUR: #333;
        --RADIAL-COLOUR: rgb(217, 217, 217);
        --SQUARE-BACKGROUND-COLOUR: rgb(202, 174, 202)
    }
}

/* || GENERAL STYLES */
body {
  font: var(--FONT-SIZE) var(--FONT-FAMILY);
  min-height: 100vh;

  background-color: var(--BGCOLOUR);
  background-image: radial-gradient(var(--RADIAL-COLOUR), var(--BGCOLOUR));
  display: flex;
  flex-direction: column;
}

header,
nav,
footer {
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  text-align: center;
}

header,
footer {
  position: sticky;
  background-color: var(--ALTBGCOLOUR);
  color: var(--LIGHTCOLOUR);
}

header {
  top: 0;
}

nav {
  background-color: var(--LIGHTCOLOUR);
  color: var(--DARK-COLOUR);
  padding: var(--PADDING);
  border-bottom: var(--BORDERS);
  box-shadow: var(--SHADOWS);
}

main {
  flex-grow: 1;

  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  gap: min(4vw, 15px);
}

footer {
  bottom: 0;
}

/* || FEATURES */

.square--highlight {
    --SQUARE-BACKGROUND-COLOUR: cornflowerblue;
}

.square {
    background-color: var(--SQUARE-BACKGROUND-COLOUR);
    width: var(--SQUARE-SIZE);
    height: var(--SQUARE-SIZE);
    border: var(--BORDERS);
    border-radius: 15px;
    display: grid;
    place-content: center;
    font-size: var(--FONT-SIZE-EXTRA-LARGE);
    box-shadow: var(--SHADOWS);
}
